{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="vertical-spacer"></div>
    <button class="button"><i class="icon">💾</i><span>{{ button_label|default('Сохранить') }}</span></button>
{{ form_end(form) }}
