{% extends 'admin.html.twig' %}

{% block title %}{{ 'Editing Category :: KingsMeal' }}{% endblock %}

{% block body %}
    <h1>{{ 'Editing Category' | trans }}</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
