{% extends 'admin.html.twig' %}

{% block title %}Создание категории :: King'sMeal{% endblock %}

{% block body %}
    <h1>Создание новой категории</h1>

    {{ include('category/_form.html.twig') }}

{% endblock %}
