{% extends 'admin.html.twig' %}

{% block title %}{{ 'Creating category :: KingsMeal' }}{% endblock %}

{% block body %}
    <h1>{{ 'Creating Category' | trans }}</h1>

    {{ include('category/_form.html.twig') }}

{% endblock %}
