@import "../variables";

.foros-promo {
  position: fixed;
  bottom: 16px;
  right: 16px;
  padding: 16px;
  padding-right: 32px + 20px;
  border-radius: 3px;
  background-color: $yellow-color;
  text-shadow: 0 0 6px rgba(black, 0.5);

  .promo-close {
    position: absolute;
    top:   16px;
    right: 16px;
  }
}
