{% extends 'admin.html.twig' %}

{% block title %}{{ 'Edit Advertising :: KingsMeal' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Advertising' | trans }}</h1>

    {{ include('advertising/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
