{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="vertical-spacer"></div>
    <button class="button"><span class="icon">💾</span><span>{{ button_label|default('Сохранить') }}</span></button>
{{ form_end(form) }}
