{% extends 'admin.html.twig' %}

{% block title %}{{ 'Creating a Product :: KingsMeal' | trans}}{% endblock %}

{% block body %}
    <h1>{{ 'Creating a Product' | trans}}</h1>

    {{ include('product/_form.html.twig') }}

{% endblock %}
