.table {
  width: 100%;

  &.details-table {
    width: 400px;

    tr th {
      text-align: left;
      font-weight: bold;
      width: 100px;
      vertical-align: top;
      padding-top: var(--default-padding);
      padding-bottom: var(--default-padding);
    }
  }

  thead tr th, tbody tr td {
    padding: var(--default-padding);
    text-align: left;

    &.pull-right {
      text-align: right;
    }
  }

  thead {
    tr {
      th {
        font-weight: bold;
        text-transform: uppercase;
        background-color: white;
        color: var(--text-main);
      }
    }
  }

  tbody tr td {
    .small-image {
      width: 50px;
      height: 50px;
      object-fit: none;
      object-position: center;
      vertical-align: middle;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 3px 6px rgba(black, 0.1);
    }
  }
}